<div class="container" style="padding-top:30px;padding-bottom:30px">
  <p-table #dt *ngIf="approvers.length>0" [value]="approvers" [globalFilterFields]="['Name']" editMode="row" [resizableColumns]="true" p columnResizeMode="expand" selectionMode="single" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th colspan="3" class="text-right">
          <input type="text" pInputText size="35" placeholder="Search by Approver Name" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto !important">&nbsp;
          <button type="button" pButton icon="fa fa-plus" pTooltip="Add" class="ui-button-info" (click)="ShowAddDialog()"></button>
        </th>
      </tr>
      <tr>
        <th class="text-center">Sl No.</th>
        <th class="text-center">Approver Name</th>
        <th class="text-center">Remove</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
      <tr [pEditableRow]="rowData">
        <td class="text-center">{{ri+1}}</td>
        <td>{{rowData.Name}}</td>
        <td class="text-center">
          <button pButton type="button" pDeleteEditableRow icon="pi pi-trash" class="ui-button-danger" (click)="onApproverRowDelete(rowData)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<form [formGroup]="ApproverAddForm">
  <p-dialog header="Add" [(visible)]="AddDialog" showEffect="fade" [modal]="true" [style]="{width: '700px'}" [closable]="false">
    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="employee">Approver :</label>
      </div>
      <div class="ui-g-5">
        <select formControlName="EmployeeNo" class="form-control dropdown" [(ngModel)]="EmpModel.EmployeeNo" [ngClass]="{'is-invalid': ApproverAddForm.controls.EmployeeNo.value=='Select'}">
          <option [value]="Select">Select</option>
          <option *ngFor="let emp of employee" [value]="emp.EmployeeNo">{{emp.Name}}</option>
        </select>
        <span style="color:red;font-weight:bold" *ngIf="AddSubmitted&&(ApproverAddForm.controls.EmployeeNo.value=='Select' || ApproverAddForm.controls.EmployeeNo.value==undefined)" class="error">Select Approver.</span>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="InsertApprover()" label="Insert"></button>
        <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
      </div>
    </p-footer>
  </p-dialog>
</form>
