<p-table #dt *ngIf="mprScopes.length>0" [value]="mprScopes" data-key="ScopeId" editMode="row" [paginator]="true" [rows]="10" [resizableColumns]="false" columnResizeMode="expand" [class]="text-center" [globalFilterFields]="['Scope','BoolInUse']">
  <ng-template pTemplate="header">
    <tr>
      <th colspan="4" class="text-right">
        <input type="text" pInputText size="40" placeholder="Search by MPR Scope" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto !important">&nbsp;
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAddMPRScope()" label="Add New"></button>
      </th>
    </tr> 
     <tr>
        <th colspan="4" class="text-center" style="background-color:#dbd4d4">MPR Scopes</th>
      </tr>
      <tr class="text-center">
        <th style="width:10%">Sl. No.</th>
        <th>Scope</th>
        <th>In Use</th>
        <th>Edit</th>
      </tr>
    </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex="0">
    <tr [pEditableRow]="rowData">
      <td class="text-center">{{ri+1}}</td>
      <td>{{rowData.Scope}}</td>
      <td class="text-center">{{rowData.BoolInUse ? "Yes":"No"}}</td>
      <td class="text-center" style="white-space: nowrap">
        <button pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit($event,'MPRScopesEditForm',rowData,'ScopeId')"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog header="MPR Scopes Edit" [(visible)]="EditDialog" showEffect="fade" [modal]="true" [style]="{width: '700px'}">
  <div class="ui-g ui-fluid">
    <form [formGroup]="MPRScopesEditForm">
      <div class="ui-g-12">
      </div>
      <div class="ui-g-12">
        <div class="ui-g-2">
          <label for="mprScopes">Scope Id :</label>
        </div>
        <div class="ui-g-8">
          <label>{{editMPRScopes.ScopeId}}</label>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-2">
          <label for="mprScopes">Scope :</label>
        </div>
        <div class="ui-g-8">
          <input pInputText size="100" formControlName="Scope" class="form-control" [(ngModel)]="editMPRScopes.Scope" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-2">
          <label for="mprScopes">In Use :</label>
        </div>
        <div class="ui-g-8">
          <select formControlName="BoolInUse" class="form-control dropdown" [(ngModel)]="editMPRScopes.BoolInUse">
            <option value="select" selected="selected">Select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" class="ui-button-info" (click)="onMPRScopeUpdate()" label="Update"></button>
      <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Scopes Add" [(visible)]="AddDialog" showEffect="fade" [modal]="true" [style]="{width: '700px'}">
  <div class="ui-g ui-fluid">
    <form [formGroup]="MPRScopesAddForm" (ngSubmit)="onMPRScopeAdd()" novalidate>
      <div class="ui-g-12">
      </div>
      <div class="ui-g-12">
        <div class="ui-g-2">
          <label for="mprScopes">Scope :</label>
        </div>
        <div class="ui-g-8">
          <input pInputType size="100" formControlName="Scope" focus-me="focusInput" [(ngModel)]="mprScopes.Scope" class="form-control" required />
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" class="ui-button-info" (click)="onMPRScopeAdd()" label="Add"></button>
      <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>

