<label *ngIf="RfqCompareItems.length==0" style="color:red">No Items to Compare</label>
<div *ngIf="RfqCompareItems.length>0">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6 pt-2">
          Material Purchase Requisition : <span style="color:#dc3545;"><a [routerLink]="['/SCM/MPRForm',MPRRevisionId]">{{RfqCompareItems[0].DocumentNo}}</a></span>
        </div>
        <div class="col-md-3 pt-2">
          <span class="form-inline ml-2">
            Revision No:<span>{{RfqCompareItems[0].RevisionNo}}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Document Number  </label>
          <span class="valueEdit">{{RfqCompareItems[0].DocumentNo}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Document Description  </label>
          <span class="valueEdit">{{RfqCompareItems[0].DocumentDescription}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Purpose Issuing MPR</label>
          <span class="valueEdit">{{RfqCompareItems[0].IssuePurposeId==1?'For Enquiry':'For Issuing PO'}}</span>
        </div>
      </div>
      <div class="row " style="margin-top:10px">
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Department</label>
          <span class="valueEdit">{{RfqCompareItems[0].DepartmentName}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Project Manager</label>
          <span class="valueEdit">{{RfqCompareItems[0].ProjectManagerName}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Job Code</label>
          <span class="valueEdit">{{RfqCompareItems[0].JobCode}}</span>
        </div>
      </div>
      <div class="row " style="margin-top:10px">
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Job Name</label>
          <span class="valueEdit">{{RfqCompareItems[0].JobName}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Ge Ps Approval Id</label>
          <span class="valueEdit">{{RfqCompareItems[0].GEPSApprovalId}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Sale Order No</label>
          <span class="valueEdit">{{RfqCompareItems[0].SaleOrderNo}}</span>
        </div>
      </div>
      <div class="row " style="margin-top:10px">
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Name of the Client</label>
          <span class="valueEdit">{{RfqCompareItems[0].ClientName}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Plant Location</label>
          <span class="valueEdit">{{RfqCompareItems[0].PlantLocation}}</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 form-group">
          <label class="form-label lblEdit">Buyer of Group </label>
          <span class="valueEdit">{{RfqCompareItems[0].BuyerGroupName}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card  compar-card mt-3">
    <div class="card-header gra-header">
      <span><input type="text" class="manual-icon" disabled />&nbsp;&nbsp;<b>Least Price</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>Q - </b>Quantity</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><img src="../assets/technics.png" style="height: 15px;width: 15px;"> - Technical Clearance</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>APD - </b>Approved</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>DP - </b>Delivery period</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>PT - </b>Payment Term</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>HA - </b>Handling  Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>IFRA - </b>Import Friegt Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>INSA - </b>Insurance Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>DA - </b>Duty Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>PFA - </b>PF Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>FRA - </b>Friegt Amount</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>MT - </b>Material Total</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>HC - </b>Handling Charges Total</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>TP - </b>Total Price</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b><i class="fa fa-clock-o  times-color"></i> - </b>Pending</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b><i class="fa fa-check check-color"></i> - </b>Approved</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b><i class="fa fa-times times-color"></i> - </b>Rejected</span>&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
    <div class="card-body" style="overflow:auto !important">
      <p-table [columns]="cols" [value]="rfqQuoteModel">
        <ng-template pTemplate="header" let-columns>
          <tr class="mprltbldata">
            <th style="text-align:center;width:200px">Description</th>
            <!--<th style="width:100px !important;">Item Description</th>-->
            <!--<th style="width:100px !important;">Quantity</th>-->
            <th style="text-align:center;width:200px">Previous Prices</th>
            <th *ngFor="let col of columns;let colInd=index" style="width:250px">
              <input type="checkbox" style="height:15px;width:15px" id='vendor{{colInd}}' (click)="selectVendorList($event,col,'',colInd,true)">
              {{col.VendorName}}<br /><label>RFQ revision's List : </label>&nbsp;
              <span *ngFor="let item of rfqrevisionsList"><a *ngIf="item.VendorId==col.VendorId" style="color:#fff !important" [routerLink]="['/SCM/VendorQuoteView',item.rfqRevisionId]"><span *ngIf="col.rfqRevisionId!=item.rfqRevisionId"> {{item.rfqRevisionId + ","}}</span><span *ngIf="col.rfqRevisionId==item.rfqRevisionId" style="color:#11d3b8c9;text-decoration:underline"> {{item.rfqRevisionId + ","}}</span></a></span><br />
              <label>Current RFQ No : </label>&nbsp;<span style="color:#11d3b8c9"> {{col.RFQNo}}</span><br />
              <label>Date : </label>&nbsp;<span style="color:#11d3b8c9">{{col.RFQValidDate | date :  constants.dateFormat}}</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr>
            <td>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                  <b>MS Code - </b>{{rowData.ItemId}}<br /><b>Name - </b>{{rowData.ItemName}}<br /><b>Desc - </b>{{rowData.ItemDescription}}<br /><b>Qty - </b>{{rowData.QuotationQty}}
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                  <label class="form-label lblEdit">PO NO:</label>
                  <span class="valueEdit">{{rowData.PONumber}}</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                  <label class="form-label lblEdit">PO Date: </label>
                  <span class="valueEdit">{{rowData.PODate | date :  constants.dateFormat}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                  <label class="form-label lblEdit">PO UP: </label>
                  <span class="valueEdit">{{rowData.POUnitPrice}}</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                  <label class="form-label lblEdit">PO TP: </label>
                  <span class="valueEdit">{{rowData.POPrice}}</span>
                </div>
              </div>
              <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                  <label class="form-label lblEdit">Remarks: </label>
                  <span class="valueEdit">{{rowData.PORemarks}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 form-group"></div>
                <button type="button" class="btn btn-success center" (click)="showDialog(rowData,rowIndex)" label="Save">ADD</button>
              </div>
            </td>
            <td *ngFor="let vendor of rowData.suggestedVendorDetails;let colIndex=index" style="width:100px !important;">
              <div *ngIf="vendor.VendorId" [style.background]="vendor.UnitPrice==rowData.leastPrice ? 'hsla(89, 43%, 51%, 0.3)' : '' ">
                <input *ngIf="vendor.Status!='Approved' && vendor.RFQSplitItemId!=null" type="checkbox" style="height:15px;width:15px" id='ven{{rowIndex+""+colIndex}}' (click)="selectVendorList($event,vendor,rowIndex,colIndex,false)"><br />
                <!--<div class="row col-lg-12 col-md-12 col-sm-12">
                  <span class="form-inline">
                    <b>PQP : </b>&nbsp;<input id='PQP{{rowIndex+""+colIndex}}' type="number" class="form-control" style="width:50%" value={{vendor.UnitPrice}} />
                  </span>
                </div>
                <div class="row col-lg-12 col-md-12 col-sm-12">
                  <span class="form-inline"><b>Remarks </b>&nbsp;<input id='rmks{{rowIndex+""+colIndex}}' (input)="addRemarks(vendor,rowIndex,colIndex)" type="text" class="form-control" value={{vendor.Remarks}} /></span>
                </div>-->
                <table border="1" style="border:#428bca solid 1px;font-weight: 700">
                  <tr>
                    <td class="text-left pl-3">Quantity</td>
                    <td class="text-right">{{vendor.vendorQuoteQty}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">Price</td>
                    <td class="text-right">{{vendor.UnitPrice}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">Discount&nbsp;({{vendor.DiscountPercentage}}%)</td>
                    <td class="text-right">
                      <span *ngIf="vendor.Discount">{{vendor.Discount}}</span>
                      <span *ngIf="vendor.DiscountPercentage">{{(vendor.DiscountPercentage/100)*(vendor.UnitPrice * vendor.vendorQuoteQty)}}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">HA&nbsp;({{vendor.HandlingPercentage}}%)</td>
                    <td class="text-right">{{vendor.HandlingAmount}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">IFRA&nbsp;({{vendor.ImportFreightPercentage}}%)</td>
                    <td class="text-right">{{vendor.ImportFreightAmount}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">INSA&nbsp;({{vendor.InsurancePercentage}}%)</td>
                    <td class="text-right">{{vendor.InsuranceAmount}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">DA&nbsp;({{vendor.DutyPercentage}}%)</td>
                    <td class="text-right">{{vendor.DutyAmount}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">FRA&nbsp;({{vendor.FreightPercentage}}%)</td>
                    <td class="text-right">{{vendor.FreightAmount}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">PFA&nbsp;({{vendor.PFPercentage}}%)</td>
                    <td class="text-right">{{vendor.PFAmount}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3"><img src="../assets/technics.png" style="height: 15px;width: 15px;"></td>
                    <td class="text-center">
                      <i *ngIf="vendor.RfqDocStatus=='Pending' || !vendor.RfqDocStatus" class="fa fa-clock-o times-color"></i>
                      <i *ngIf="vendor.RfqDocStatus=='Approved'" class="fa fa-check check-color"></i>
                      <i *ngIf="vendor.RfqDocStatus=='Rejected'" class="fa fa-times times-color"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">APD</td>
                    <td class="text-center">
                      <span *ngIf="vendor.Status=='Approved'" class="valueEdit pi pi-check check-color"></span>
                      <span *ngIf="vendor.Status!='Approved'" class="valueEdit pi pi-times times-color"></span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">DP</td>
                    <td class="text-center">{{vendor.DeliveryMinWeeks}}-{{vendor.DeliveryMaxWeeks}}&nbsp;<p *ngIf="vendor.DeliveryMinWeeks && vendor.DeliveryMaxWeeks">Weeks</p></td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">MT</td>
                    <td class="text-right">{{vendor.MaterialTotalPrice}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">HC</td>
                    <td class="text-right">{{vendor.HandlingChargesTotal}}</td>
                  </tr>
                  <tr>
                    <td class="text-left pl-3">TP</td>
                    <td class="text-right">{{vendor.TotalPrice}}</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td [attr.colspan]="1" style="color: #17a2b8;">Totals</td>
            <td style="color: #17a2b8;">PO Price :&nbsp;{{calculateTotalPOPrice()}}</td>
            <td style="color: #17a2b8;" *ngFor="let col of cols;let colInd=index"><span>Material Total:&nbsp;{{calculateTotalPriceWOH(colInd)}}</span><br /><span>Handling Charges:&nbsp;{{calculateTotalPriceHC(colInd)}}</span><br />Total Landed Cost :&nbsp;{{calculateTotalPriceWH(colInd)}}</td>
          </tr>
          <tr><td [attr.colspan]="2">Description</td><td *ngFor="let col of cols;let colInd=index">Response</tr>
          <tr *ngFor="let term of termCols">
            <td [attr.colspan]="2" style="font-weight: 500;">{{term.Terms}}</td>
            <td *ngFor="let col1 of cols;let colInd=index">
              <span *ngIf="getTerm(col1.rfqRevisionId,term)==''">-</span>
              <span *ngIf="getTerm(col1.rfqRevisionId,term)=='Agree'" class="pi pi-check check-color"></span>
              <span *ngIf="getTerm(col1.rfqRevisionId,term)=='NotAgree'" class="pi pi-times times-color"></span>
              <span *ngIf="getTerm(col1.rfqRevisionId,term)=='NotApplicable'">NA</span>&nbsp;
              <span *ngIf="getRemarks(col1.rfqRevisionId,term)" style="font-weight: 500;"> , {{getRemarks(col1.rfqRevisionId,term)}}</span>
            </td>
            <!--<td *ngFor="let rf of term.termsList">
                <span *ngIf="rf.VendorResponse=='Agree'" class="pi pi-check check-color"></span>
                <span *ngIf="rf.VendorResponse=='NotAgree'" class="pi pi-times times-color"></span>
                <span *ngIf="rf.VendorResponse=='NotApplicable'">NA</span>&nbsp;
                <span *ngIf="rf.Remarks" style="font-weight: 500;"> , {{rf.Remarks}}</span>
            </td>-->
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!--<div class="form-control" style="height:100%;border-radius:0px;">
    <label style="text-decoration: underline">Terms & Conditions:</label><br />
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label lblEdit">Payment Term Days   </label>
        <span class="valueEdit">
          {{RfqCompareItems[0].PaymentTermRemarks}}
        </span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label lblEdit">Frieght</label>
        <span class="valueEdit">{{RfqCompareItems[0].Freight}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label lblEdit">Insurance </label>
        <span class="valueEdit">{{RfqCompareItems[0].Insurance}}</span>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 form-group">
        <label class="form-label lblEdit">Bank Guarantee</label>
        <span class="valueEdit">{{RfqCompareItems[0].BankGuarantee}}</span>
      </div>

    </div>
  </div>-->

  <div class="footer">
    <div class="row form-inline pt-2">
      <div class="col-lg-4 col-md-4 col-sm-4 form-inline ">
        <label>Status :&nbsp;<span class="blink_text">{{status}}</span></label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 form-inline">
        <button type="button" class="btn btn-success" (click)="statusSubmit()" label="Save">Submit</button>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Add Previous PO Price Information" [(visible)]="showPODialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{'width':'60%','overflow':'auto!important'}">
  <div class="ui-g-12">
    <div class="ui-g-2">
      <label for="procSrc">PONo: </label>
    </div>
    <div class="ui-g-5">
      <input type="text" maxlength="100" [(ngModel)]="PreviousPrices.PONumber" class="form-control" />
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-2">
      <label for="procSrc">PO Date: </label>
    </div>
    <div class="ui-g-5">
      <!--<p-calendar class="mprldatepick"  [(ngModel)]="PreviousPrices.PODate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2050"></p-calendar>-->
      <input type="date" #myDate [ngModel]="PreviousPrices.PODate | date:'yyyy-MM-dd'" (ngModelChange)="PreviousPrices.PODate = $event" class="form-control" />
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-2">
      <label for="procSrc">PO Unit price: </label>
    </div>
    <div class="ui-g-5">
      <input type="text" [(ngModel)]="PreviousPrices.POPrice" class="form-control" />
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-2">
      <label for="procSrc">Remarks:</label>
    </div>
    <div class="ui-g-5">
      <input type="text" [(ngModel)]="PreviousPrices.PORemarks" class="form-control" />
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" class="ui-button-success" (click)="addPreviousprice()" label="Insert"></button>
      <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="dialogCancel()" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>

