<div class="form-control" style="height:100%">
  <div class="row form-group">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <label for="fromdate" class="form-label">From Date</label><br />
      <p-calendar class="FromDate" [(ngModel)]="inputsearch.FromDate" [monthNavigator]="true"></p-calendar>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <label for="todate" class="form-label">To Date</label><br />
      <p-calendar class="ToDate" [(ngModel)]="inputsearch.ToDate" [monthNavigator]="true"></p-calendar>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <label for="paid" class="form-label ">PA ID</label><br />
      <input class="form-control" [(ngModel)]="inputsearch.Paid">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <label for="pastatus" class="form-label">Status</label><br />
      <select class="form-control" [(ngModel)]="inputsearch.Status">
        <option value="Submitted">Submitted</option>
        <option value="Pending">Pending</option>
        <option value="Approved">Approved</option>
        <option value="Rejected">Rejected</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <label for="docNo" class="form-label">MPR Number:</label> &nbsp;
      <input class="form-control" type="text" [(ngModel)]="inputsearch.DocumentNumber">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <label for="docNo" class="form-label">RFQ Number:</label> &nbsp;
      <input class="form-control" type="text" [(ngModel)]="inputsearch.rfqnumber">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <mat-form-field style="width:100%">
        <mat-label>Select Department</mat-label>
        <select matNativeControl [(ngModel)]="inputsearch.DepartmentId">
          <option value="" selected></option>
          <option *ngFor="let option of departmentlist" [value]="option.DepartmentId">
            {{option.Department}}
          </option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <mat-form-field style="width:100%">
        <mat-label>Select BuyerGroup</mat-label>
        <select matNativeControl [(ngModel)]="inputsearch.BuyerGroupId">
          <option value="" selected></option>
          <option *ngFor="let option of buyergroups" [value]="option.BuyerGroupId">
            {{option.BuyerGroup}}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <mat-form-field style="width:100%">
        <mat-label>Select Vendor</mat-label>
        <select matNativeControl [(ngModel)]="inputsearch.VendorId">
          <option value="" selected></option>
          <option *ngFor="let option of Vendors" [value]="option.Vendorid">
            {{option.VendorName}}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="row" style="margin-Top:10px">
  <div class="col-md-12" style="text-align:center">
    <button type="button" class="btn btn-primary" (click)="LoadmprApproverDetailsbySearch(inputsearch)">Search</button>
  </div>
</div>
<div class="form-control" style="height:100%;border-radius:0px;margin-top:40px">
  <p-table #dt [value]="paapproverdeatils" [paginator]="true" [style]="{'width':'100%','overflow':'auto!important'}" [rows]="10"  [resizableColumns]="true" [responsive]="true" columnResizeMode="expand" resizableColumns="true" >
    <ng-template pTemplate="header">
      <tr style="font-size: 12px !important;">
        <th style="width:50px">S.No</th>
        <!--<th style="width:100px">Approver</th>-->
        <th style="width:50px">PA ID</th>
        <!--<th style="width:100px;">MPRNo</th>-->
        <th style="width:100px;">MPR NO</th>
        <!--<th style="width:100px">RFQNo</th>-->
        <!--<th style="width:100px">Role</th>-->
        <th style="width:100px">Vendor</th>
        <th style="width:110px">Department</th>
        <th style="width:110px">Buyer Group</th>
        <th style="width:130px">Approval Status</th>
        <!--<th style="width:110px">ApprovedOn</th>-->
        <th style="width:110px">Requestor</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
      <tr style="font-size: 12px !important;">
        <td class="ptable-cell" style="text-align:center !important">
          {{ri+1}}
        </td>
        <!--<td class="ptable-cell">{{rowData.Name}}</td>-->
        <td class="ptable-cell" style="text-align:center !important"><a [routerLink]="['/SCM/mprpa',rowData.PAId]" target="_blank" routerLinkActive="active">{{rowData.PAId}}</a></td>
        <td class="ptable-cell">{{rowData.DocumentNo}}</td>
        <td class="ptable-cell">{{rowData.VendorName}}</td>
        <td class="ptable-cell">{{rowData.Department}}</td>
        <td class="ptable-cell" style="font-size: 10px !important;">{{rowData.BuyerGroup}}</td>
        <td class="ptable-cell">
          {{rowData.ApprovalStatus}} <br />
          {{rowData.ApprovedOn | date: 'dd/MM/yyyy  hh:mm a'}}
        </td>
        <td class="ptable-cell">{{rowData.parequested}}</td>
      </tr>
    </ng-template>
  </p-table><br />
</div>
