<div class="container">
  <div class="form-control" style="height:100%">
    <div class="row">
      <!--<div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="form-label label">Prepared From</label><br />
        <p-calendar class="FromDate" [(ngModel)]="reportsearch.FromDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy.mm.dd" yearRange="2000:2030"></p-calendar>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="form-label label">Prepared To</label><br />
        <p-calendar class="ToDate" [(ngModel)]="reportsearch.ToDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy.mm.dd" yearRange="2000:2030"></p-calendar>
      </div>-->
      <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="form-label label">Paid</label><br />
        <input class="form-control" [(ngModel)]="inputsearch.PAId">
      </div>
    </div>
  </div>
  <div class="row" style="margin-Top:10px">
    <div class="col-md-12" style="text-align:center">
      <button type="button" class="btn btn-primary" (click)="loadAllIncompltedpalist(inputsearch)">Search</button>
    </div>
  </div>
  <div class="form-control" style="height:100%;border-radius:0px;margin-top:40px">
    <p-table #dt [value]="incompletedlist" [paginator]="true" [style]="{'width':'100%','overflow':'auto!important'}" [rows]="50" [resizableColumns]="true" [responsive]="true" columnResizeMode="expand" resizableColumns="true" appendTo="body">
      <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th style="width:100px">S.No</th>
          <th style="width:110px">Paid</th>
          <th style="width:100px">VendorName</th>
          <th style="width:100px">Department</th>
          <th style="width:100px">BuyerGroup</th>
          <th style="width:100px">PAStatus</th>
          <th style="width:110px">RequestedOn</th>
          <!--<th style="width:100px">RequestedBy</th>-->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
        <tr>
          <td>
            {{ri+1}}
          </td>
          <td class="ptable-cell"><a [routerLink]="['/SCM/mprpa',rowData.PAId]" target="_blank" routerLinkActive="active">{{rowData.PAId}}</a></td>
          <td class="ptable-cell">{{rowData.VendorName}}</td>
          <td class="ptable-cell">{{rowData.Department}}</td>
          <td class="ptable-cell">{{rowData.BuyerGroup}}</td>
          <td class="ptable-cell">{{rowData.PAStatus}}</td>
          <td class="ptable-cell">{{rowData.RequestedOn | date}}</td>
          <!--<td class="ptable-cell">{{RequestedBy}}</td>-->
        </tr>
      </ng-template>
    </p-table><br />
  </div>
</div>
