<div class="container">
  <div class="form-control" style="height:100%">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="form-label label">Prepared From</label><br />
        <p-calendar class="FromDate" [(ngModel)]="reportsearch.FromDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy.mm.dd" yearRange="2000:2030"></p-calendar>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="form-label label">Prepared To</label><br />
        <p-calendar class="ToDate" [(ngModel)]="reportsearch.ToDate" [monthNavigator]="true" [yearNavigator]="true" dateFormat="yy.mm.dd" yearRange="2000:2030"></p-calendar>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 form-group">
        <label class="form-label label">MPR RevisionId</label><br />
        <input class="form-control" [(ngModel)]="reportsearch.MPRRevisionId">
      </div>
    </div>
  </div>
  <div class="row" style="margin-Top:10px">
    <div class="col-md-12" style="text-align:center">
      <button type="button" class="btn btn-primary" (click)="LoadReport(reportsearch)">Search</button>
    </div>
  </div>
  <div class="form-control" style="height:100%;border-radius:0px;margin-top:40px">
    <p-table #dt [value]="palist" [paginator]="true" [style]="{'width':'100%','overflow':'auto!important'}" [rows]="50" [resizableColumns]="true" [responsive]="true" columnResizeMode="expand" resizableColumns="true" appendTo="body">
      <ng-template pTemplate="header">
        <tr class="mprltbldata">
          <th style="width:100px">S.No</th>
          <th style="width:110px">DocumentNo</th>
          <th style="width:100px">MPR RevisionId</th>
          <th style="width:100px">Department</th>
          <th style="width:100px">BuyerGroup</th>
          <th style="width:100px">First Approver Status</th>
          <th style="width:110px">ApprovedOn</th>
          <th style="width:100px">Second Approver Status</th>
          <th style="width:100px">Second ApprovedOn</th>
          <th style="width:100px">Third Approver Status</th>
          <th style="width:100px">Submitted</th>
          <th style="width:100px">Checked</th>
          <th style="width:100px">Approved</th>
          <th style="width:100px">Rejected</th>
          <th style="width:100px">RFQ Generated</th>
          <th style="width:100px">RFQ Responded</th>
          <th style="width:100px">Technical Spec Approved</th>
          <th style="width:100px">Quote Finalized</th>
          <th style="width:100px">PA Generated</th>
          <th style="width:100px">PO Released</th>
          <th style="width:100px">Raising PO Checked</th>
          <th style="width:100px">Raising PO Approved</th>
          <th style="width:100px">MPR Rejected</th>
          <th style="width:100px">MPR On Hold</th>
          <th style="width:100px">RFQ Finalized</th>
          <th style="width:100px">PA Approved</th>
          <th style="width:100px">MPR Closed</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-rindex=0>
        <tr>
          <td>
            {{ri+1}}
          </td>
          <td class="ptable-cell">{{rowData.DocumentNo}}</td>
          <td class="ptable-cell">{{rowData.RevisionId}}</td>
          <td class="ptable-cell">{{rowData.Department}}</td>
          <td class="ptable-cell">{{rowData.BuyerGroup}}</td>
          <td class="ptable-cell">{{rowData.ApprovalStatus}}</td>
          <td class="ptable-cell">{{rowData.ApprovedOn | date}}</td>
          <td class="ptable-cell">{{rowData.SecondApproversStatus}}</td>
          <td class="ptable-cell">{{rowData.SecondApprovedOn}}</td>
          <td class="ptable-cell">{{rowData.ThirdApproverStatus}}</td>
          <td class="ptable-cell">{{rowData.submitted | date}}</td>
          <td class="ptable-cell">{{rowData.Checked | date}}</td>
          <td class="ptable-cell">{{rowData.approved | date}}</td>
          <td class="ptable-cell">{{rowData.rejected | date}}</td>
          <td class="ptable-cell">{{rowData.Acknowledged | date}}</td>
          <td class="ptable-cell">{{rowData.ClarificationtoEndUser}}</td>
          <td class="ptable-cell">{{rowData.RFQGenerated}}</td>
          <td class="ptable-cell">{{rowData.RFQResponded}}</td>
          <td class="ptable-cell">{{rowData.TechnicalSpecApproved}}</td>
          <td class="ptable-cell">{{rowData.QuoteFinalized}}</td>
          <td class="ptable-cell">{{rowData.PAGenerated}}</td>
          <td class="ptable-cell">{{rowData.POReleased}}</td>
          <td class="ptable-cell">{{rowData.RaisingPOChecked}}</td>
          <td class="ptable-cell">{{rowData.MPRRejected}}</td>
          <td class="ptable-cell">{{rowData.MPROnHold}}</td>
          <td class="ptable-cell">{{rowData.RFQFinalized}}</td>
          <td class="ptable-cell">{{rowData.PAApproved}}</td>
          <td class="ptable-cell">{{rowData.MPRClosed}}</td>
        </tr>
      </ng-template>
    </p-table><br />
  </div>
</div>
