<div style="text-align:center">
  <h3>Purchase Authorization</h3>
</div>
<div class="row form-control" style="width:100%;height:100%">
  <div class="form-group">
    <input type="file" id="file" multiple (change)="getFileDetails($event)" style="margin-left: 12px;" placeholder="Upload file" accept=".msg,.pdf,.doc,.docx,.xlsx,.xls">

    <!--<button (click)="uploadFiles()">Upload</button>-->
    <div *ngFor="let selected of myFiles;let index = index">
      <h6>{{selected.name}}</h6> <i class="fa fa-remove" aria-hidden="true" (click)="removeSelectedFile(index)"></i>
      <!--<button mat-icon-button (click)="removeSelectedFile(index)">delete</button>-->
      <br />
    </div>
    <button (click)="uploadFiles()">Upload</button>
  </div>
</div>
<div class="form-control" style="height:100%;width:100%">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="form-group" *ngIf="!pasubmitted" style="margin-top:5px">
        <label for="BuyerGroup" class="form-label label" style="margin-left: 12px;">BuyerGroup:</label>&nbsp;&nbsp;
        <!--<select [(ngModel)]="purchasedetails.BuyerGroupId" #BuyerGroup="ngModel" class="form-control" style="margin-left: 12px;width:60%">
          <option *ngFor="let buy of selectedItems" [value]="buy.BuyerGroupId">{{buy.BuyerGroup}} </option>
          <option [value]="0">{{Buyergroup}}</option>
        </select>-->
        <input type="text" disabled="true" class="form-control" style="margin-left: 12px;width:60%;" [value]="Buyergroup">
        <!--<input class="form-control"  [(ngModel)]="purchasedetails.BuyerGroupId" [value]="BuyerGroupId" style="display:none">-->
        <!--<span class="BuyerGroup form-control" style="margin-left: 12px;width:60%" [(ngModel)]="purchasedetails.BuyerGroupId">{{Buyergroup}}</span>-->
      </div>
      <div *ngIf="pasubmitted" style="margin-top:5px">
        <label for="BuyerGroup" class="form-label label col-md-4" style="margin-left: 0px;">BuyerGroup</label>&nbsp;&nbsp;
        <span class="BuyerGroup">: {{purchasedetails.buyergroup.BuyerGroup}}</span>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="form-group" *ngIf="!pasubmitted" style="margin-top:5px">
        <label for="Department" class="form-label label" style="margin-left: 12px;">Department:</label>&nbsp;&nbsp;
        <input type="text" disabled="true" class="form-control" style="margin-left: 12px;width:60%;" [value]="Department">
        <!--<select [(ngModel)]="purchasedetails.DepartmentID" #DepartmentName="ngModel" class="form-control" style="margin-left: 12px;width:60%">
          <option *ngFor="let dep of selectedItems" [value]="dep.DepartmentId">{{dep.Department}} </option>
        </select>-->
      </div>
      <div *ngIf="pasubmitted" style="margin-top:5px">
        <label for="DepartMent" class="form-label label col-md-4" style="margin-left: 0px;">DepartMent</label>&nbsp;
        <span class="DepartMent">: {{purchasedetails.department.Department}}</span>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="form-group" *ngIf="!pasubmitted">
        <!--<div class="ui-g-2">
          <label for="procSrc">Department: <span class="required-asterisk" style="color:red">*</span></label>
        </div>-->
        <label for="Purchasetype" class="form-label label" style="margin-left: 12px;">Purchase Type:<span class="required-asterisk" style="color:red">*</span></label>
        <select [(ngModel)]="purchasedetails.PurchaseTypeId" class="form-control" style="margin-left: 12px;width:60%">
          <option *ngFor="let pty of purchasetypes" [value]="pty.PurchaseTypeId"> {{pty.PurchaseType}} </option>
        </select>
      </div>
      <div *ngIf="pasubmitted">
        <label for="Purchasetype" class="form-label label col-md-4" style="margin-left: 0px;">Purchase Type</label>&nbsp;&nbsp;
        <span class="purchasetype">: {{purchasedetails.purchasetypes.PurchaseType}}</span>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="form-group" *ngIf="!pasubmitted">
        <label for="PurchaseMode" class="form-label label" style="margin-left: 12px;">Purchase Mode:<span class="required-asterisk" style="color:red">*</span></label>&nbsp;&nbsp;
        <select [(ngModel)]="purchasedetails.PurchaseModeId" class="form-control" style="margin-left: 12px;width:60%">
          <option *ngFor="let pur of purchasemodes" [value]="pur.PurchaseModeId"> {{pur.PurchaseMode}} </option>
        </select>
      </div>
      <div *ngIf="pasubmitted">
        <label for="Purchasetype" class="form-label label col-md-4" style="margin-left: 0px;">Purchase Mode</label>&nbsp;&nbsp;
        <span class="purchasetype">: {{purchasedetails.purchasemodes.PurchaseMode}}</span>
      </div>
    </div>
  </div><br />
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="form-group" *ngIf="!pasubmitted">
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Project Name:</label>&nbsp;&nbsp;&nbsp;
        <input type="text" disabled="true" [value]="purchasedetails.ProjectName" class="form-control" style="margin-left: 12px;width:60%" />
      </div>
      <div *ngIf="pasubmitted">
        <label for="ProjectName" class="form-label label col-md-4" style="margin-left: 0px;">Project Name</label>&nbsp;&nbsp;
        <span class="Supplier">: {{purchasedetails.ProjectName}}</span>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="form-group" *ngIf="!pasubmitted">
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Project Code:</label>
        <input type="text" disabled="true" [value]="purchasedetails.ProjectCode" class="form-control" style="margin-left: 12px;width:60%" />
      </div>
      <div *ngIf="pasubmitted">
        <label for="ProjectCode" class="form-label label col-md-4" style="margin-left: 0px;">Project Code</label>&nbsp;&nbsp;
        <span class="Supplier">: {{purchasedetails.ProjectCode}}</span>
      </div>
    </div>
  </div>
</div>
<br />
<div class="form-control" style="width:100%;height:100%">
  <h6>Budget Details :</h6>&nbsp;&nbsp;
  <div class="row">
    <div class="settings" *ngIf="!pasubmitted" style="grid-gap:10px;display:grid;grid-template-columns:max-content max-content">
      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Target Spend</label>
      <span class="Supplier">: {{target | currency:'INR' || ""}}</span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Sales Cost For The Job</label>
      <span class="Supplier"></span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Purchase Cost For This Item</label>
      <span class="Supplier">: {{sum | currency:'INR'}}</span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Project Cost For The Job</label>
      <span class="Supplier">: {{purchasedetails.SupplierReference}}</span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Excess/Saving From Project Budget</label>

      <span class="Supplier" *ngIf="target>sum" style="color:green">: {{savingorexcessamount| currency:'INR'}} <span style="color:green;padding:35px">Total purchase cost value is with in the Target spend value</span></span>
      <span class="Supplier" *ngIf="target<sum" style="color:red">: {{savingorexcessamount| currency:'INR'}} <span style="color:red;padding:35px">Total purchase cost value is exceeding the Target spend value</span></span>

    </div>
  </div>
  <div class="row">
    <div class="settings" *ngIf="pasubmitted" style="grid-gap:10px;display:grid;grid-template-columns:max-content max-content">
      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Target Spend</label>
      <span class="Supplier">: {{target | currency:'INR'}}</span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Sales Cost For The Job</label>
      <span class="Supplier">:</span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Purchase Cost For This Item</label>
      <span class="Supplier">: {{sum | currency:'INR'}}</span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Project Cost For The Job</label>
      <span class="Supplier">: {{purchasedetails.SupplierReference}}</span>

      <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Excess/Saving From Project Budget</label>
      <!--<span class="Supplier">: {{target-sum | currency:'INR'}}</span>-->
      <span class="Supplier" *ngIf="target>=sum" style="color:green">: {{savingorexcessamount| currency:'INR'}} <span style="color:green;padding:35px">Total purchase cost value is with in the Target spend value</span></span>
      <span class="Supplier" *ngIf="target<sum" style="color:red">: {{savingorexcessamount| currency:'INR'}} <span style="color:red;padding:35px">Total purchase cost value is exceeding the Target spend value</span></span>
    </div>
  </div>
</div>

<br />
<div class="form-control" style="width:100%;height:100%">
  <div *ngIf="!pasubmitted" class="row head-text pl-0" style="margin-left:0px;margin-top:20px;width:inherit">
    <div class="col-md-6 pt-2">Item Details</div>
    <div class="col-md-3 pt-2">
      <a [routerLink]="['/SCM/PADetails']" routerLinkActive="active">Add Items</a>
      <!--<button type="button" class="btn pull-right" label="Save" (click)="InsertPurchaseAuthorization(purchasedetails)">Add Items</button>-->
    </div>
  </div>
  <div *ngIf="!pasubmitted" class="row form-control" style="height:100%;border-radius:0px; margin-left:0px;">
    <p-table [value]="selectedItems" [paginator]="true" [rows]="10" [resizableColumns]="true" p columnResizeMode="expand">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5em">Sl No</th>
          <th style="width:7em">Department</th>
          <th>Vendor Name</th>
          <th>Item Description</th>
          <th style="width:6em">Quantity</th>
          <th style="width:6em">Price</th>
          <th style="width:6em">Total Price</th>
          <th>Target Spend</th>
          <th>SaleOrder</th>
          <th>Payment Term</th>
          <th>MPR NO</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr>
          <td class="ptable-cell">{{ri+1}}</td>
          <td class="ptable-cell">{{rowData.Department}}</td>
          <td class="ptable-cell">{{rowData.VendorName}}</td>
          <td class="ptable-cell">{{rowData.ItemDescription}}</td>
          <td class="ptable-cell">{{rowData.QuotationQty}}</td>
          <td class="ptable-cell">{{rowData.UnitPrice}}</td>
          <td class="ptable-cell">{{rowData.itemsum}}</td>
          <td class="ptable-cell">{{rowData.TargetSpend}}</td>
          <td class="ptable-cell">{{rowData.SaleOrderNo}}</td>
          <td class="ptable-cell">{{rowData.PaymentTermCode}}</td>
          <td class="ptable-cell">{{rowData.DocumentNo}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{sum}}</td>
          <td>{{target}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>

    </p-table><br />
    <!--<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10px;text-align:center">
      <button type="button" class="btn btn-success" (click)="displayapproveEmployee()" label="Save">Approve Items</button>
    </div>-->
  </div><br />
  <div *ngIf="pasubmitted" class="row form-control" style="height:100%;border-radius:0px; margin-left:0px; margin-top:7px">
    <p-table #dt [value]="purchasedetails.Item" [globalFilterFields]="['PONO']" [paginator]="true" [rows]="10" [resizableColumns]="true" editMode="row" p columnResizeMode="expand">
      <ng-template pTemplate="header" let-rowData let-editing="editing">
        <tr>
          <th colspan="12" class="text-right">
            <input type="text" pInputText size="35" placeholder="Search by PONO" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto !important">&nbsp;
          </th>
        </tr>
        <tr>
          <th>Sl No</th>
          <!--<th class="ptable-cell">Department</th>-->
          <th class="ptable-cell">Item Description</th>
          <th class="ptable-cell">Quantity</th>
          <!--<th>Vendor Name</th>-->
          <th>MPR NO</th>
          <th>Target Spend</th>
          <th>Price</th>
          <th>Total Price</th>
          <th>Sale Order</th>
          <th class="ptable-cell">Payment Term</th>
          <th>PO NO</th>
          <th>PO ItemNo</th>
          <th>PODate</th>
          <th class="ptable-cell">Remarks</th>
          <!--<th>Edit</th>-->
          <th [pEditableRow]="rowData"><button pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="AddPaitem(purchasedetails.Item)"></button></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <!--<tr class="pull-right" [pEditableRow]="rowData">
          <th><button pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="AddPaitem(purchasedetails.Item)"></button></th>
        </tr>-->
        <tr [pEditableRow]="rowData">
          <td class="text-center">{{ri+1}}</td>
          <!--<td class="ptable-cell">{{rowData.Department}}</td>-->
          <td class="ptable-cell">{{rowData.ItemDescription}}</td>
          <td class="ptable-cell">{{rowData.QuotationQty}}</td>
          <!--<td class="ptable-cell">{{rowData.VendorName}}</td>-->
          <td class="ptable-cell">{{rowData.DocumentNo}}</td>
          <td class="ptable-cell">{{rowData.TargetSpend}}</td>
          <td class="ptable-cell">{{rowData.UnitPrice}}</td>
          <td class="ptable-cell">{{rowData.itemsum}}</td>
          <td class="ptable-cell">{{rowData.SaleOrderNo}}</td>
          <td class="ptable-cell">{{rowData.PaymentTermCode}}</td>
          <td class="ptable-cell">{{rowData.PONO}}</td>
          <td class="ptable-cell">{{rowData.POItemNo}}</td>
          <td class="ptable-cell">{{rowData.PODate}}</td>
          <td class="ptable-cell">{{rowData.Remarks}}</td>
          <!--<td class="text-center">
            <button pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="AddPaitem(rowData)"></button>
          </td>-->
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{target}}</td>
          <td></td>
          <td>{{sum}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </div><br />

  <div *ngIf="showemployee && !pasubmitted" class="row form-control" style="height:100%;border-radius:0px; margin-left:0px; margin-top:7px">
    <div *ngIf="employeelist" class="col-lg-8 col-md-8 col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><span style="float:left">ApproverName </span> </th>
            <th><span style="float:left">Role </span></th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let app of employeelist">
            <td>{{app.Approvername}}</td>
            <td>{{app.rolename}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<br />

<!--<div class="form-control" style="height:100%">
  <div class="row head-text pl-0" style="margin-left:0px;width:100%">
    <div class="col-md-6 pt-2">Considered Vendors:</div>
  </div>
  <div *ngIf="!pasubmitted" class="row form-control" style="height:100%;width:100%;margin-left:2px">
    <div *ngFor="let ven of vendor" class="col-xs-4 col-sm-4 col-md-4 form-control" style="margin-left:5px;margin-left:5px">
      <span class="Vendor">{{ven.VendorName}} </span>
    </div>
  </div>
  <div *ngIf="pasubmitted" class="row form-control" style="height:100%;width:100%;margin-left:2px">
    <div *ngFor="let ven of vendor" class="col-xs-4 col-sm-4 col-md-4 form-control" style="margin-left:5px;margin-left:5px">
      <span class="Vendor">{{ven.VendorName}} </span>
    </div>
  </div><br />

  <div class="row head-text pl-0" style="margin-left:0px;width:100%">
    <div class="col-md-6 pt-2">Selected Vendor:</div>
  </div>
  <div *ngIf="!pasubmitted" class="row form-control" style="height:100%;width:100%;margin-left:2px">
    <div class="col-xs-4 col-sm-4 col-md-4 form-control" style="margin-left:5px;margin-left:5px">
      <span class="Vendor" style="color:#0095ff">{{vendorname}} </span>
    </div>
  </div>
  <div *ngIf="pasubmitted" class="row form-control" style="height:100%;width:100%;margin-left:2px">
    <div class="col-xs-4 col-sm-4 col-md-4 form-control" style="margin-left:5px;margin-left:5px">
      <span class="Vendor">{{selectedvendor}} </span>
    </div>
  </div>
</div>-->
<div class="row head-text pl-0" style="margin-left:0px;width:100%">
  <div class="col-md-6 pt-2"> Vendors:</div>
</div>
<div class="form-control" style="height:100%">
  <h6 style="font-weight:400">Considered Vendors:</h6>
  <div *ngIf="!pasubmitted" class="row form-control" style="height:100%;width:100%;margin-left:2px">
    <div *ngFor="let ven of vendor" class="col-xs-4 col-sm-4 col-md-4" style="margin-left:5px;">
      <span class="Vendor">{{ven.VendorName}} </span>
    </div>
  </div>
  <div *ngIf="pasubmitted" class="row" style="height:100%;width:100%;margin-left:0px">
    <div *ngFor="let ven of vendor" class="col-xs-4 col-sm-4 col-md-4" style="margin-left:0px;">
      <span class="Vendor form-control">{{ven.VendorName}} </span>
    </div>
  </div><br />

  <h6 style="font-weight:400">Selected Vendors:</h6>
  <div *ngIf="!pasubmitted" class="row form-control" style="height:100%;width:100%;margin-left:2px">
    <div class="col-xs-4 col-sm-4 col-md-4" style="margin-left:5px;margin-left:5px">
      <span class="Vendor" style="color:#0095ff">{{vendorname}} </span>
    </div>
  </div>
  <div *ngIf="pasubmitted" class="row" style="height:100%;width:100%;margin-left:0px">
    <div class="col-xs-4 col-sm-4 col-md-4" style="margin-left:5px;margin-left:0px">
      <span class="Vendor form-control">{{selectedvendor}} </span>
    </div>
  </div>
</div>
<br />

<!--<div class="row head-text pl-0" style="margin-left:0px;margin-top:20px;width:100%">
  <div class="col-md-6 pt-2">Reference Name:</div>
</div>
<div class="form-control" style="width:100%;height:100%">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div *ngIf="!pasubmitted">
        <label for="Supplier" class="form-label label" style="margin-left: 12px;">Supplier Reference Name:</label>&nbsp;&nbsp;
        <input type="text" [(ngModel)]="purchasedetails.SupplierReference" class="form-control" style="width:60%;margin-left: 12px;" />
      </div>
      <div *ngIf="pasubmitted">
        <label for="Supplier" class="form-label label" style="margin-left: 12px;">Supplier Reference Name:</label>&nbsp;&nbsp;
        <span class="Supplier">{{purchasedetails.SupplierReference}}</span>
      </div>
    </div>
  </div>
</div>-->
<div class="form-control" style="height:100%;width:100%">
  <div *ngIf="!pasubmitted" class="row" style="height:100%;border-radius:0px; margin-left:0px; margin-top:7px;overflow-x:scroll">
    <div *ngIf="rfqterms.length>0" class="col-lg-8 col-md-8 col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <span style="float:left">
                Terms
              </span>
            </th>
            <th><span style="float:left">RfqRevisionId</span></th>
            <!--<th><span style="float:left">Remarks</span></th>-->
            <!--<th rowspan="2"><span style="float:left">RFQNo </span> </th>-->
            <th rowspan="2">
          <tr><h6 style="text-align:center">RfqNo</h6></tr>
          <tr>
            <td *ngFor="let terms of rfqno"><span>{{terms.RFQNo}}</span></td>
          </tr>
          </th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let terms of rfqterms">
            <td>{{terms.Terms}}</td>
            <td>{{terms.RFQrevisionId}}</td>
            <!--<td>{{terms.Remarks}}</td>-->
            <td>
              {{terms.VendorResponse}}<br /><br />

              <form>
                {{terms.Remarks}}
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="pasubmitted" class="row" style="height:100%;border-radius:0px; margin-left:0px; margin-top:7px">
    <div *ngIf="rfqterms.length>0" class="col-lg-8 col-md-8 col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><span style="float:left">Terms </span></th>
            <th><span style="float:left">RfqRevisionId </span> </th>
            <th rowspan="2"><span colspan="5" style="float:left">RFQNo </span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let terms of rfqterms">
            <td>{{terms.Terms}}</td>
            <td>{{terms.RFQrevisionId}}</td>
            <td>{{terms.RFQNo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row head-text pl-0" style="margin-left:0px;margin-top:20px;width:100%">
  <div class="col-md-6 pt-2">Terms and Conditions:</div>
</div>
<div class="form-control" *ngIf="!pasubmitted" style="height:100%;width:100%">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div>
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Packing And Forwarding:</label>
        <input type="text" [(ngModel)]="purchasedetails.PackagingForwarding" class="form-control" style="width: 60%;margin-left: 12px;" />
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div>
        <label for="ProjectCode" class="form-label label" style="margin-left: 12px;">Taxes:</label>&nbsp;&nbsp;
        <input type="text" style="margin-left:12px;width: 60%;" [(ngModel)]="purchasedetails.Taxes" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div>
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Freight:</label>
        <input type="text" style="margin-left:12px;width:60%" [(ngModel)]="purchasedetails.Freight" class="form-control" />
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div>
        <label for="ProjectCode" class="form-label label" style="margin-left: 12px;">Insurance:</label>
        <input type="text" style="margin-left:12px;width:60%" [(ngModel)]="purchasedetails.Insurance" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div>
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Delivery Condition:</label>
        <input type="text" [(ngModel)]="purchasedetails.DeliveryCondition" class="form-control" style="margin-left:12px;width:60%" />
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div>
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Credit Days:</label>
        <input type="text" [(ngModel)]="purchasedetails.CreditDays" class="form-control" style="margin-left: 12px;width:60%" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 form-group">
      <div>
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Mode of Shipment:</label>
        <input type="text" [(ngModel)]="purchasedetails.ShipmentMode" class="form-control" style="margin-left:12px;width:60%" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 form-group">
      <div>
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">Payment Terms:</label>
        <textarea [(ngModel)]="purchasedetails.PaymentTerms" class="form-control" style="margin-left: 12px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 form-group">
      <div>
        <label for="warranty" class="form-label label" style="margin-left: 12px;">Warranty:</label>
        <textarea [(ngModel)]="purchasedetails.Warranty" class="form-control" style="margin-left: 12px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 form-group">
      <div *ngIf="!pasubmitted">
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">BankGuarantee:</label>
        <textarea [(ngModel)]="purchasedetails.BankGuarantee" class="form-control" style="margin-left: 12px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 form-group">
      <div>
        <label for="ProjectName" class="form-label label label" style="margin-left: 12px;">LDPenaltyTerms:</label>
        <textarea [(ngModel)]="purchasedetails.LDPenaltyTerms" class="form-control" style="margin-left: 12px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 form-group">
      <div *ngIf="!pasubmitted">
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">SpecialInstructions:</label>
        <textarea [(ngModel)]="purchasedetails.SpecialInstructions" class="form-control" style="margin-left: 12px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 form-group">
      <div>
        <label for="ProjectName" class="form-label label" style="margin-left: 12px;">FactorsForImports:</label>
        <textarea [(ngModel)]="purchasedetails.FactorsForImports" class="form-control" style="margin-left: 12px;"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 form-group">
      <div>
        <label for="SpecialRemarks" class="form-label label" style="margin-left: 12px;">SpecialRemarks:</label>
        <textarea [(ngModel)]="purchasedetails.SpecialRemarks" class="form-control" style="margin-left: 12px;"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="form-control" *ngIf="pasubmitted" style="height:100%;width:100%">
  <table class="table table-responsive p-0 m-0">
    <tr>
      <th>Packing And Forwarding</th>
      <td>: {{purchasedetails.PackagingForwarding}}</td>
    </tr>
    <tr>
      <th>Taxes</th>
      <td>: {{purchasedetails.Taxes}}</td>
    </tr>
    <tr>
      <th>Freight</th>
      <td>: {{purchasedetails.Freight}}</td>
    </tr>
    <tr>
      <th>Insurance</th>
      <td>: {{purchasedetails.Insurance}}</td>
    </tr>
    <tr>
      <th>Delivery Conditions</th>
      <td>: {{purchasedetails.DeliveryCondition}}</td>
    </tr>
    <tr>
      <th>Credit Days</th>
      <td>: {{purchasedetails.CreditDays}}</td>
    </tr>
    <tr>
      <th>Shipment Mode</th>
      <td>: {{purchasedetails.ShipmentMode}}</td>
    </tr>
    <tr>
      <th>Payment Terms</th>
      <td>: {{purchasedetails.PaymentTerms}} </td>
    </tr>
    <tr>
      <th>Warranty</th>
      <td>: {{purchasedetails.Warranty}}</td>
    </tr>
    <tr>
      <th>Bank Guarantee</th>
      <td>: {{purchasedetails.BankGuarantee}}</td>
    </tr>
    <tr>
      <th>LDPenalty Terms</th>
      <td>: {{purchasedetails.LDPenaltyTerms}}</td>
    </tr>
    <tr>
      <th>Special Instructions</th>
      <td>: {{purchasedetails.SpecialInstructions}}</td>
    </tr>
    <tr>
      <th>FactorsForImports</th>
      <td>: {{purchasedetails.FactorsForImports}}</td>
    </tr>
    <tr>
      <th>Special Remarks</th>
      <td>: {{purchasedetails.SpecialRemarks}}</td>
    </tr>
  </table>
</div>
<br />

<div *ngIf="!pasubmitted && proceedvalue" style="margin-top:10px;text-align:center">
  <button type="button" class="btn btn-success" label="Save" (click)="InsertPurchaseAuthorization(purchasedetails)">Proceed</button>
</div>
<br />
<h6 *ngIf="uploaddocuments">Upload Documents</h6>
<div *ngIf="uploaddocuments" class="form-control" style="height:100%;width:100%">
  <div class="row form-control" style="width:100%;height:100%">
    <div class="form-group">
      <input type="file" id="file" multiple (change)="getFileDetails($event)" style="margin-left: 12px;" placeholder="Upload file" accept=".msg,.pdf,.doc,.docx,.xlsx,.xls">

      <!--<button (click)="uploadFiles()">Upload</button>-->
      <div *ngFor="let selected of myFiles;let index = index">
        <h6>{{selected.name}}</h6> <i class="fa fa-remove" aria-hidden="true" (click)="removeSelectedFile(index)"></i>
        <!--<button mat-icon-button (click)="removeSelectedFile(index)">delete</button>-->
        <br />
      </div>
      <button (click)="uploadFiles()">Upload</button>
    </div>
  </div>
</div>

<div *ngIf="uploaddocuments" style="margin-top:10px;text-align:center">
  <button type="button" class="btn btn-success" label="Save" (click)="finalpa(purchasedetails)">Submit</button>
</div>
<div class="form-control" *ngIf="pasubmitted">
  <div *ngFor="let document of purchasedetails.documents" class="col-lg-10 col-md-10 col-sm-10 form-group">
    <label class="form-label"><b> Documents Attached :</b></label>
    <i class="fa fa-paperclip" aria-hidden="true" (click)="viewPADocument(document.path,document.filename)" pTooltip="File Name: {{document.filename}}"></i>&nbsp;
    <span>{{document.filename}} </span>&nbsp;&nbsp;
  </div>
</div>
<div *ngIf="pasubmitted && finalpasubmit" class="row form-control" style="height:100%;border-radius:0px; margin-left:0px; margin-top:7px">
  <p-table [value]="purchasedetails.ApproversList" [paginator]="false" [rows]="10" [resizableColumns]="true" p columnResizeMode="expand">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5em">Sl No</th>
        <th>Approver</th>
        <th>Status</th>
        <th>Remarks</th>
        <th>Status Date</th>
        <th>Remainder Mail</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr>
        <td class="text-center">{{ri+1}}</td>
        <td>{{rowData.ApproverName}}  -   ({{rowData.RoleName}})</td>
        <td>{{rowData.ApprovalStatus}}</td>
        <td>{{rowData.ApproversRemarks}}</td>
        <td>{{rowData.ApprovedOn | date: 'dd/MM/yyyy hh:mm a'}}</td>
        <td><button type="button" *ngIf="rowData.ApprovalStatus != 'Approved' " class="btn btn-success" label="Save" (click)="RequestForApproval(rowData)">Send</button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br />

<div *ngIf="pasubmitted && approvedemployee" class="form-control footer" style="height:100%;border-radius:0px;position: -webkit-sticky; position:sticky;background-color:gainsboro; margin-left:0px;margin-top:5px">

  <div class="row col-md-12" style="margin-bottom:10px;border:groove;margin-left:2px;margin-top:5px">
    <label for="Supplier" class="form-label label" style="margin-left: 15px;text-align:left">Excess/Saving From Project Budget</label>
    <span class="Supplier" *ngIf="target>=sum" style="color:green">: {{savingorexcessamount| currency:'INR'}} <span style="color:green;padding:35px">Total purchase cost value is with in the Target spend value</span></span>
    <span class="Supplier" *ngIf="target<sum" style="color:red">: {{savingorexcessamount| currency:'INR'}} <span style="color:red;padding:35px">Total purchase cost value is exceeding the Target spend value</span></span>
  </div>
  <div class="form-inline pt-2">
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline ">
      &nbsp;&nbsp;
      <label class="form-label">Status:</label>&nbsp;
      <select [(ngModel)]="PAApprovers.ApprovalStatus" class="form-control dropdown">
        <option value="Submitted">Submitted</option>
        <option value="Pending">Pending</option>
        <option value="Rejected">Rejected</option>
        <option value="Approved">Approved</option>
      </select>&nbsp;
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline ">
      <label class="form-label">Remarks:</label>&nbsp;
      <textarea type="text" class="form-control" [(ngModel)]="PAApprovers.ApproversRemarks"></textarea>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 form-inline">
      <button type="button" *ngIf="pasubmitted && approvedemployee" [disabled]="disableApprovers" class="btn btn-success" (click)="Approvepa(PAApprovers)" label="Save">Submit</button>
    </div>
  </div>
</div>

<p-dialog header="Add" [(visible)]="EditDialog" showEffect="fade" [modal]="true" [style]="{width: '1000px'}" [closable]="false">
  <form [formGroup]="PAsubmitForm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ITEM</th>
          <th>MPRNO</th>
          <th>PONO :<input type="checkbox" [checked]="false" (change)="updateAddrs($event,paitem)" /></th>
          <th>POITEMNO</th>
          <th>PODATE</th>
          <th>POREMARKS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of paitem">
          <td>{{items.ItemDescription}}</td>
          <td>{{items.DocumentNo}}</td>
          <td><input (keypress)="numberOnly($event)" id="txtcopy1" formControlName="PONO" type="text" [(ngModel)]="items.PONO" maxlength="10" numberOnly class="form-control" /></td>
          <td><input type="text" formControlName="POItemNo" [(ngModel)]="items.POItemNo" maxlength="6" class="form-control" numberOnly /></td>
          <td><input formControlName="PODate" type="date" [(ngModel)]="items.PODate" class="form-control" /></td>
          <td><input formControlName="Remarks" type="text" [(ngModel)]="items.Remarks" class="form-control" /></td>
        </tr>
      </tbody>
    </table>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="submit" pButton icon="fa fa-check" class="ui-button-success" [disabled]="!PAsubmitForm.valid" (click)="SubmitItem(paitem)" label="Insert"></button>&nbsp;&nbsp;
        <button type="button" pButton icon="fa fa-close" class="ui-button-danger" (click)="Cancel()" label="Cancel"></button>
      </div>
    </p-footer>
  </form>
</p-dialog>


<!--<p-dialog header="Item Details :" [(visible)]="displayItemDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '1000px',height:'1000px'}">
  <div class="row form-control" style="height:100%;border-radius:0px;padding:30px;margin-left:0px;">
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label for="docNo" class="form-label">MPR Number:</label> &nbsp;
      <input class="form-control" type="text" [(ngModel)]="padetails.DocumentNumber">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label for="SaleOrderNo" class="form-label">MPR RevisionID:</label> &nbsp;
      <input class="form-control" [(ngModel)]="padetails.RevisionID">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label">RfqNo:</label> &nbsp;
      <input class="form-control" [(ngModel)]="padetails.RFQNo">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label">SaleOrderNumber:</label>&nbsp;
      <input class="form-control" [(ngModel)]="padetails.SaleOrderNo">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label">Department:</label>&nbsp;
      <div class="form-inline-list">
        <input type="text" [(ngModel)]="padetails.DepartmentName" class="form-control" [ngClass]="{ 'is-invalid':Departmentsubmittted && !padetails.DepartmentName }" (keyup)="bindSearchListData($event,'','DepartmentId',padetails.DepartmentName,undefined)">
        <span class="input-group-append">
          <button type="button" class="btn btn-outline-secondary form-control" style="cursor:pointer" pButton icon="fa fa-list" aria-hidden="true" (click)="bindSearchListData($event,'','DepartmentId','',undefined)"></button>
        </span>
        <span *ngIf="Departmentsubmittted && !padetails.DepartmentName" class="invalid-feedback">Select Department.</span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label">VendorName:</label>&nbsp;
      <div class="form-inline-list">
        <input type="text" [(ngModel)]="vendorDetails.VendorName" class="form-control" [ngClass]="{ 'is-invalid':vendorSubmitted && !vendorDetails.VendorName }" (keyup)="bindSearchListData($event,'','venderid',vendorDetails.VendorName,undefined)">
        <span class="input-group-append">
          <button type="button" class="btn btn-outline-secondary form-control" style="cursor:pointer" pButton icon="fa fa-list" aria-hidden="true" (click)="bindSearchListData($event,'','venderid','',undefined)"></button>
        </span>
        <span *ngIf="vendorSubmitted && !vendorDetails.VendorName" class="invalid-feedback">Select Vendor.</span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 form-inline">
      <label class="form-label">BuyerGroup:</label>&nbsp;
      <div class="form-inline-list">
        <input type="text" [(ngModel)]="buyergroups.BuyerGroup" class="form-control" [ngClass]="{ 'is-invalid':MPRForm1Submitted && !buyergroups.BuyerGroup }" (keyup)="bindSearchListData($event,'','BuyerGroupId',buyergroups.BuyerGroup,undefined)">
        <span class="input-group-append">
          <button type="button" class="btn btn-outline-secondary form-control" style="cursor:pointer" pButton icon="fa fa-list" aria-hidden="true" (click)="bindSearchListData($event,'','BuyerGroupId','',undefined)"></button>
        </span>
        <span *ngIf="MPRForm1Submitted && !buyergroups.BuyerGroup" class="invalid-feedback">Select BuyerGroup.</span>
      </div>
    </div>
  </div>
</p-dialog>-->
<!--<p-dialog #dialog header="List View :" [(visible)]="showemployee" [contentStyle]="{'overflow':'visible'}">
  <div class="row form-inline">
    <label class="form-label" *ngFor="let List of employee">Assigned Employee:&nbsp;{{List.Name}}</label>
  </div>
</p-dialog>-->
