<div style="float:initial">
  <label>Add Vendor : &nbsp;</label><button type="button" pButton icon="fa fa-plus" (click)="openVendorDialog('showVendorDialog')"></button><br />
</div>
<br />
<span><input type="text" class="sug-icon" disabled />&nbsp;&nbsp;<b>Suggested Vendors</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span><input type="text" class="manual-icon" disabled />&nbsp;&nbsp;<b>Manual Vendors</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
<span><b>PQP - </b>Previous Quoted Price</span>&nbsp;&nbsp;&nbsp;&nbsp;
<span><b>Q - </b>Quantity</span>&nbsp;&nbsp;&nbsp;&nbsp;
<span><b>Dis - </b>Discount</span>&nbsp;&nbsp;&nbsp;&nbsp;
<span><b>PT - </b>Payment Term</span>&nbsp;&nbsp;&nbsp;&nbsp;
<br /><br />
<div class="form-control form-inline" style="height:100%;width:100%">
  <div *ngFor="let Item of rfqQuoteModel;let k=index">
    <div class="form-control form-inline" style="height:100%;width:100%">
      <div class="form-inline">
        <label class="form-label font-weight-bold">Item Name :</label>&nbsp;<span>{{Item.ItemName}}</span>&nbsp;&nbsp;
        <label class="form-label font-weight-bold">Item Description : </label>&nbsp;<span> {{Item.ItemDescription}}</span>&nbsp;&nbsp;
        <label class="form-label font-weight-bold">Quantity : </label>&nbsp;<span>{{Item.QuotationQty}}</span>&nbsp;&nbsp;&nbsp;&nbsp;

      </div><br />
      <div class="row form-inline m-0">
        <div *ngFor="let vendor of Item.suggestedVendorDetails; let i=index">
          <div *ngIf="i<=vendorsLength" class="form-control suggested-List">
            <span class="form-inline"><input type="checkbox" class="checkmark" (click)="selectVendorList($event,k,i,'SQty',vendor,true)">&nbsp;<b class="fixed-text" pTooltip={{vendor.VendorName}}>{{vendor.VendorName}}</b></span><br />
            <span class="form-inline"><b>RFQ Quantity : </b>&nbsp;<input id='SQty{{k+""+i}}' (change)="selectVendorList($event,k,i,'SQty',vendor,false)" type="number" class="form-control" value={{Item.QuotationQty}} /></span><br />
            <span class="form-inline"><b>PQP : </b>&nbsp;{{vendor.UnitPrice}}&nbsp;&nbsp;&nbsp;&nbsp; <b>Q : </b>&nbsp;{{vendor.vendorQuoteQty}}</span><br />
            <span class="form-inline"><b>Dis : </b>&nbsp;{{vendor.Discount}}&nbsp;&nbsp;&nbsp;&nbsp; <b>PT : </b>&nbsp;{{vendor.PaymentTermCode}}</span>
          </div>&nbsp;&nbsp;
        </div>
        <div *ngFor="let mvendor of Item.manualvendorDetails; let i=index">
          <div class="form-control manual-List">
            <span class="form-inline"><input type="checkbox" class="checkmark" (click)="selectVendorList($event,k,i,'MQty',mvendor,true)">&nbsp;<b class="fixed-text" pTooltip={{mvendor.VendorName}}>{{mvendor.VendorName}}</b></span><br />
            <span class="form-inline"><b>RFQ Quantity : </b>&nbsp;<input id='MQty{{k+""+i}}' (change)="selectVendorList($event,k,i,'MQty',mvendor,false)" type="number" class="form-control" value={{Item.QuotationQty}} /></span><br />
            <span class="form-inline"><b>PQP : </b>&nbsp;{{mvendor.UnitPrice}}&nbsp;&nbsp;&nbsp;&nbsp; <b>Q : </b>&nbsp;{{mvendor.vendorQuoteQty}}</span><br />
            <span class="form-inline"><b>Dis : </b>&nbsp;{{mvendor.Discount}}&nbsp;&nbsp;&nbsp;&nbsp; <b>PT : </b>&nbsp;{{mvendor.PaymentTermCode}}</span>
          </div>&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="row form-inline pt-2">
    <div class="col-lg-4 col-md-4 col-sm-4 form-inline ">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 form-inline">
      <button type="button" class="btn btn-success" (click)="openConformDialog()" label="Save">Submit</button>
    </div>
  </div>

</div>
<p-dialog #dialog header="List View :" [(visible)]="showList" [contentStyle]="{'overflow':'visible'}">
  <div class="ui-g ui-fluid">
    <p-listbox [options]="searchItems" [(ngModel)]="selectedItem" optionLabel="name" (onChange)="onSelectedOptionsChange(selectedItem,null)"></p-listbox>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('showList','')" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>
<p-dialog header="Select Vendor :" [(visible)]="showVendorDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '400px'}">
  <div class="ui-g-12">
    <div class="ui-g-8 form-group">
      <label class="form-label">Vendor</label>
      <div class="form-inline-list">
        <input type="text" [(ngModel)]="vendorDetails.VendorName" class="form-control" [ngClass]="{ 'is-invalid':vendorSubmitted && !vendorDetails.VendorName }" (keyup)="bindSearchListData($event,'','venderid',vendorDetails.VendorName,undefined)">
        <span class="input-group-append">
          <button type="button" class="btn btn-outline-secondary form-control" style="cursor:pointer" pButton icon="fa fa-list" aria-hidden="true" (click)="bindSearchListData($event,'','venderid','',undefined)"></button>
        </span>
        <span *ngIf="vendorSubmitted && !vendorDetails.VendorName" class="invalid-feedback">Select Vendor.</span>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="onVendorSubmit('showVendorDialog','vendorDetails')" label="Submit"></button>
      <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('showVendorDialog','')" label="Cancel"></button>
    </div>
  </p-footer>
</p-dialog>
<p-dialog header="Conform Data:" [(visible)]="showConformationDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '700px'}">
  <p-table [columns]="cols" [value]="rfqQuoteModel">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Item Name</th>
        <th *ngFor="let col of columns">
          {{col.VendorName}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>{{rowData.ItemName}}</td>
        <td *ngFor="let col of columns">
          <i [ngClass]="bindCheckeMark(col,rowData.ItemId)?'pi pi-check check-color':'pi pi-times times-color'"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="openrevisionDialog()" label="Proceed"></button>
      <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('showConformationDialog','')" label="Back"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Revision Data:" [(visible)]="showRevisionsDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '800px'}">
  <div class="ui-g-12">
    <div class="ui-g-4 form-group">
      <label class="form-label">RFQ Valid Days</label>
      <input type="number" [(ngModel)]="RFQRevisionData.RfqValidDate" class="form-control" />
    </div>
    <!--<div class="ui-g-4 form-group">
      <label class="form-label">Packing Forwarding</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.PackingForwading" />
    </div>
    <div class="ui-g-4 form-group">
      <label class="form-label">Excise Duty</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.ExciseDuty" />
    </div>-->
  </div>
  <!--<div class="ui-g-12">
    <div class="ui-g-4 form-group">
      <label class="form-label">Sales Tax</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.salesTax" />
    </div>
    <div class="ui-g-4 form-group">
      <label class="form-label">Freight</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.freight" />
    </div>
    <div class="ui-g-4 form-group">
      <label class="form-label">Insurance</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.Insurance" />
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-4 form-group">
      <label class="form-label">Custom Duty</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.CustomsDuty" />
    </div>
    <div class="ui-g-4 form-group">
      <label class="form-label">Payment Days</label>
      <input type="number" class="form-control" [(ngModel)]="RFQRevisionData.PaymentTermDays" />
    </div>
    <div class="ui-g-4 form-group">
      <label class="form-label">Payment Remarks</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.PaymentTermRemarks" />
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-4 form-group">
      <label class="form-label">Bank Gurantee</label>
      <input type="text" class="form-control" [(ngModel)]="RFQRevisionData.BankGuarantee" />
    </div>
    <div class="ui-g-4 form-group">
      <label class="form-label">Delivery Minweeks</label>
      <input type="number" class="form-control" [(ngModel)]="RFQRevisionData.DeliveryMinWeeks" />
    </div>
    <div class="ui-g-4 form-group">
      <label class="form-label">Delivery MaxWeeks</label>
      <input type="number" class="form-control" [(ngModel)]="RFQRevisionData.DeliveryMaxWeeks" />
    </div>
  </div>-->
  <div class="ui-g-12" *ngIf="YILTermsAndConditions.length>0">
    <label class="form-label">Terms And Conditions:</label><br />
    <div class="ui-g-12 form-inline" *ngFor="let term of YILTermsAndConditions; let i = index;">
      <input type="checkbox" style="height:20px;width:20px" [checked]="term.DefaultSelect == 'true'?true:null" (change)="termChange($event,i)">&nbsp;<b class="fixed-text">{{term.Terms}}</b>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="onVendorQuoteUpdate()" label="Save"></button>
      <button type="button" pButton icon="fa fa-close" (click)="dialogCancel('showRevisionsDialog','showConformationDialog')" label="Back"></button>
    </div>
  </p-footer>
</p-dialog>

