<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle" *ngIf="currentUser">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo"><img src="assets/yokoimg.png" height="68" width="167"></a>
  </div>
 
</div>

<div class="header-container">
  <!-- <h6>SCM-SYSTEM</h6> -->
  <nb-actions size="small">
    
    <nb-action class="user-action"  *ngIf="currentUser" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="currentUser.Name"
               [picture]="picture1">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
