    <h4>Authorization Groups</h4>
    <div class="row">
        <div  class="col-lg-2 col-md-2 col-sm-2">
            <label for="GroupName" class="form-label label">Select Group:</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">          
            <select  placeholder="GroupName" [(ngModel)]="selectedGroup" id="GroupName" name="GroupName" (ngModelChange)="onSelectName($event)" class="form-control">
                <option *ngFor="let data of groupNameModel" [ngValue]="{ AccessGroupId: data.AccessGroupId, GroupName: data.GroupName}">{{data.GroupName}} </option> 
              </select>
          </div>  
        <div class="col-sm-12 col-md-6 col-lg-6">        
        </div>    
      </div><br />
     
    <form [formGroup]="groupAccessForm">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
          <label for="AccessName" class="form-label label">Access Name:</label>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <input type="text" maxlength="50" formControlName="AccessName" placeholder="AccessName" id="AccessName" name="AccessName" [ngClass]="{ 'is-invalid': submitted && f.AccessName.errors }" class="form-control">
          <span *ngIf="submitted && f.AccessName.errors">
            <span *ngIf="f.AccessName.errors.required">Access Name is required</span>
          </span>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <button type="button" pButton icon="fa fa-check" label="Submit" (click)="addNewAccess()"></button>
          <button pButton type="reset" (click)="onReset()" label="Cancel" style="margin-left: 2px;"></button>
        </div>
      </div>
    </form>

  <div *ngIf="groupdiv" class="row head-text-search">
    <div class="col-md-2 pt-2">
      <span>
          {{ name }} 
      </span>
           
      </div>
      <div class="col-md-4 pt-2">
         
      </div>
     <div class="col-md-6 pt-2">
        <input class="form-control searchinput" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search by AccessName">
     </div>

  </div>
 
    <div *ngIf="groupdiv" class="row" style="margin-right: 1px;">           
        <div class="form-control form-inline col-md-12" style="height:100%;">
          <span  *ngFor="let data of accessNameData | filter:searchText">            
            <label class="form-control" style="height: 60px;margin-bottom:8px;">
              <span class="atext">{{data.AccessName}}</span>
              <i class="fa fa-remove rmvbtn" aria-hidden="true" (click)="Remove(data)"></i>
              <i class="fa fa-edit" aria-hidden="true" isdialog="true" (click)="Edit(data)"></i>
            </label>&nbsp;&nbsp;&nbsp;
          </span>
        </div>
      </div> 
    <div>
  
    </div>
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
