
<h4>Roles</h4>
<form [formGroup]="groupMasterForm">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label for="RoleName" class="label">Role Name:</label>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <input type="text" formControlName="RoleName" placeholder="RoleName" id="RoleName" name="RoleName" [ngClass]="{ 'is-invalid': submitted && f.RoleName.errors }" class="form-control">
      <span *ngIf="submitted && f.RoleName.errors">
        <span *ngIf="f.RoleName.errors.required">Role Name is required</span>
      </span>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <button type="button" pButton icon="fa fa-check" label="Submit" (click)="onSubmit()"></button>
      <button pButton type="reset" (click)="onReset()" label="Cancel" style="margin-left: 2px;"></button>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

    </div>
  </div>
</form>


<div class="row head-text-search">
  <div class="col-md-2 pt-2">
  </div>
  <div class="col-md-4 pt-2">

  </div>
  <div class="col-md-6 pt-2">
    <input class="form-control searchinput" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search by Role Name">
  </div>

</div>

<div class="row" style="margin-right: 1px;">
  <div class="form-control form-inline col-md-12" style="height:100%;">
    <span  *ngFor="let data of roleAccessModel | filter:searchText">
      <a (click)="getallGroup()">
        <label class="form-control" style="height: 60px;margin-bottom:8px;">
          <span class="atext">{{data.RoleName}}</span>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-remove" aria-hidden="true" (click)="Remove(data)"></i>&nbsp;&nbsp;&nbsp;
          <i class="fa fa-edit" aria-hidden="true" (click)="Edit(data)"></i>
        </label>&nbsp;&nbsp;&nbsp;
      </a>
    </span>
  </div>
</div>
