<div class="row" style="margin:auto">
  <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
      <h2>Dashboard</h2>
    </div>
  </div>
</div>
<div class="row" style="margin:auto">
  <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
      <div class="card b">
        <div class="card-body panel-heading" style="background-color: #5d9cec !important">
          <h3>Total MPR</h3>
          <h4>50</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
      <div class="card b">
        <div class="card-body panel-heading" style="background-color: #ffa500d9 !important">
          <h3>Completed MPR</h3>
          <h4>50</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3">
      <div class="card b">
        <div class="card-body  panel-heading" style="background-color: #dc3545c4 !important">
          <h3>Pending MPR</h3>
          <h4>50</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:auto">
  <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 mt-5">
    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4" style="height:100%;border-radius: 25px;border: 1px solid #ccc;margin-left: 15px !important;">
      <h4>MPR Waiting For Acknowledgement</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">MPR 1</li>
        <li class="list-group-item list-group-item-danger">MPR 2</li>
        <li class="list-group-item list-group-item-success">MPR 3</li>
      </ul>
    </div>
    
    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4" style="height:100%;border-radius: 25px;border: 1px solid #ccc;margin-left: 15px !important;">
      <h4>Waiting For Approvals</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">PO 1</li>
        <li class="list-group-item list-group-item-danger">PO 2</li>
        <li class="list-group-item list-group-item-success">PO 3</li>
      </ul>
    </div>
  </div>
</div>

