<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SCM</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
  <div id="wrapper" [ngClass]="ref.click === true? 'toggled' :''">
    <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a>
            MPR
          </a>
        </li>
        <li>
          <a routerLink="MPRDetails">MPR Details</a>
        </li>
        <li>
          <a routerLink="MPRList">MPR List</a>
        </li>
        <li>
          <a routerLink="MPRCheckerList">MPR Checker List</a>
        </li>
        <li>
          <a routerLink="MPRApproverList">MPR Approver List</a>
        </li>
        <li class="sidebar-brand">
          <a>
            Masters
          </a>
        </li>
        <li>
          <a routerLink="Approvers">Approvers</a>
        </li>
        <li>
          <a routerLink="Buyers">Buyers</a>
        </li>
        <li>
          <a routerLink="Departments">Departments</a>
        </li>
        <li>
          <a routerLink="Scopes">Scopes</a>
        </li>
        <li>
          <a routerLink="ProcurementSource">Procurement Source</a>
        </li>
        <li>
          <a routerLink="Configuration">AccessGroup</a>
        </li>
        <li>
          <a routerLink="Groupaccessibility">AccessName</a>
        </li>
        <li>
          <a routerLink="Roleaccessibility">AuthorizationGroup</a>
        </li>
        <li>
          <a routerLink="Authorizationitem">AuthorizationItem</a>
        </li>
      </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="main" class="top-header">
      <div style="float:right;padding: 15px;"><img id="Image2" src="../assets/banner.jpg"></div>
    </div>
    <div id="page-content-wrapper">
      <button appSidebar #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div style="width:100%;padding-left:30px">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
</body>
</html>
