<div class="container-fluid">
  <nb-card>
    <nb-card-body>
      <div class="container-fluid">
      <div class="row" style="margin:auto">
        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
          <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            <h5>Dashboard</h5>
          </div>
          
        </div>
      </div>
      <div class="row" style="margin:auto">
     
       
          <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            <div class="card b">
              <div class="card-body panel-heading" style="background-color: #5d9cec !important">
                <h5>Total MPR</h5>
                <h4>50</h4>
              </div>
            </div>
          </div>
       
      
          <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            <div class="card b">
              <div class="card-body panel-heading" style="background-color: #ffa500d9 !important">
                <h5>Completed MPR</h5>
                <h4>50</h4>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
            <div class="card b">
              <div class="card-body  panel-heading" style="background-color: #dc3545c4 !important">
                <h5>Pending MPR</h5>
                <h4>50</h4>
              </div>
            </div>
          </div>
        
      </div>
      <div class="row" style="margin:auto">
        
          <div class="col-lg-5 col-xs-6 col-sm-6 col-md-6" style="height:100%;border-radius: 25px;border: 1px solid #ccc;margin-left: 15px !important;margin-top: 14px;">
            <h5>MPR Waiting For Acknowledgement</h5>
            <ul class="list-group">
              <li class="list-group-item list-group-item-info">MPR 1</li>
              <li class="list-group-item list-group-item-danger">MPR 2</li>
              <li class="list-group-item list-group-item-success">MPR 3</li>
            </ul>
          </div>
          
          <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6" style="height:100%;border-radius: 25px;border: 1px solid #ccc;margin-left: 15px !important; margin-top: 14px;">
            <h5>Waiting For Approvals</h5>
            <ul class="list-group">
              <li class="list-group-item list-group-item-info">PO 1</li>
              <li class="list-group-item list-group-item-danger">PO 2</li>
              <li class="list-group-item list-group-item-success">PO 3</li>
            </ul>
          </div>
        
      </div>
      
    </div>
    </nb-card-body>
  </nb-card>
</div>
