
<div class="container-fluid">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
          <h5>Dashboard</h5>
        </div>
      </div>
      <!-- Card -->
      <div class="row">
        <div class="col-md-4">
          <div class="card border-0">
            <div class="rounded mprtst" style="background-color: #5d9cec !important">
              <h4 class="card-title"> Total MPR </h4>
            </div>
            <div class="card-body text-center">
              <div class="avatar rounded-circle">
                <p>{{totalMPRCnt}}</p>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card border-0">
            <div class="rounded mprtst" style="background-color: #ffa500d9  !important">
              <h4 class="card-title"> Completed MPR </h4>
            </div>
            <div class="card-body text-center">
              <div class="avatar rounded-circle">
                <p>{{completedMPRCnt}}</p>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card border-0">
            <div class="rounded mprtst" style="background-color: #dc3545c4 !important">
              <h4 class="card-title"> Pending MPR </h4>
            </div>
            <div class="card-body text-center">
              <div class="avatar rounded-circle">
                <p>{{totalMPRCnt-completedMPRCnt}}</p>
              </div>

            </div>
          </div>
        </div>



      </div>
      <!-- Card -->
      <div class="row">


        <!--<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
          <div class="card b">
            <div class="card-body panel-heading" style="background-color: #5d9cec !important">
              <h5>Total MPR</h5>
              <h4>50</h4>
            </div>
          </div>
        </div>-->
        <!-- Card -->
        <!-- Card -->


        <!--<div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
          <div class="card b">
            <div class="card-body panel-heading" style="background-color: #ffa500d9 !important">
              <h5>Completed MPR</h5>
              <h4>50</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
          <div class="card b">
            <div class="card-body  panel-heading" style="background-color: #dc3545c4 !important">
              <h5>Pending MPR</h5>
              <h4>50</h4>
            </div>
          </div>
        </div>-->

      </div>
      <div class="row">

        <!--<div class="col-md-5" style="height:100%;border-radius: 25px;border: 1px solid #ccc;margin-left: 15px !important;margin-top: 14px;">
    <h5>MPR Waiting For Acknowledgement</h5>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">MPR 1</li>
      <li class="list-group-item list-group-item-danger">MPR 2</li>
      <li class="list-group-item list-group-item-success">MPR 3</li>
    </ul>
  </div>

  <div class="col-md-5" style="height:100%;border-radius: 25px;border: 1px solid #ccc;margin-left: 15px !important; margin-top: 14px;">
    <h5>Waiting For Approvals</h5>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">PO 1</li>
      <li class="list-group-item list-group-item-danger">PO 2</li>
      <li class="list-group-item list-group-item-success">PO 3</li>
    </ul>
  </div>-->

        <!--<div class="col-md-6" >
          <h6>MPR Waiting For Acknowledgement</h6>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">MPR 1</li>
            <li class="list-group-item list-group-item-danger">MPR 2</li>
            <li class="list-group-item list-group-item-success">MPR 3</li>
          </ul>
        </div>

        <div class="col-md-6">
          <h6>Waiting For Approvals</h6>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">PO 1</li>
            <li class="list-group-item list-group-item-danger">PO 2</li>
            <li class="list-group-item list-group-item-success">PO 3</li>
          </ul>
        </div>-->

      </div>


    </nb-card-body>
  </nb-card>
</div>
